In [2]:
import numpy as np
import pandas as pd
import math

In [2]:
"""
Abbiamo una lista di liste:
Che tipo di struttura dati o matematica potrebbe rappresentare? 
Notare che tutte le liste "interne" sono della stessa dimensione
R:rappresenta una matrice formata da 3 righe e 5 colonne.
"""
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

#Come facciamo per accedere ad un elemento in particolare?

mat_array = np.array(mat)
mat_array[1,3]

8

In [13]:
"""
Importiamo il modulo math e proviamo a usare le funzioni 
.sin() 
.cos() 
.factorial() 
e la variabile 
.pi
"""
print("sin di 90:", math.sin(math.radians(90)))
print("cos di 180:", math.cos(math.radians(180)))
print(math.factorial(5))
print(math.pi)

sin di 90: 1.0
cos di 180: -1.0
120
3.141592653589793

In [14]:
math.degrees(math.pi)

180.0

In [25]:
"""
L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno:
trasformiamola in un array NumPy (casting): 
e rispondiamo alle domande del CEO della Object SpA:
e rispondiamo alle domande del CEO della Object SpA: 
• qual è stata la vendita massima mensile? E quella minima? 
• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? 
• quali sono le vendite minori di 3000 oggetti? 
• in media quanti oggetti sono stati venduti al mese?
"""
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst) 
filtro_magg = lst[lst > 4999]
filtro_min = lst[lst < 3000]

print("max is:", lst.max()) 

print("min is:", lst.min())

print("maggiori di 4999:", filtro_magg)

print("numero maggiori di 4999:", len(filtro_magg))

print("minori di 3000:", filtro_min)

print("la media è:", lst.mean())

max is: 8150
min is: 1280
maggiori di 4999: [5500 7200 6410 8150 7100 5350]
numero maggiori di 4999: 6
minori di 3000: [2000 1280 1900 2500]
la media è: 4634.166666666667

In [34]:
"""
L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray:
L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: 
• con un ciclo for 
• con il masking
"""
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
stipendi_raddoppiati = []

for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio * 2)
print("lista stipendi raddoppiati con for", stipendi_raddoppiati)

print("lista stipendi raddoppiati con masking", np.array(stipendi * 2))

lista stipendi raddoppiati con for [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
lista stipendi raddoppiati con masking [ 200  400  600  800 1000 1200 1400 1600 1800 2000]